<section class="stats">
    <span class="closed">{{bugs | closedCount}}</span>
    <span> / </span>
    <span>{{bugs.length}}</span>
</section>
<section class="sort">
    <label for="">Order By :</label>
    <select name="" id="" (change)="sortAttr = $any($event.target).value">
        <option value="">---Select---</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <span>[ {{sortAttr}} ]</span>
    <label for="">Descending ? :</label>
    <input type="checkbox" name="" id="" (change)="descending = $any($event.target).checked">
    <span>[ {{descending}} ]</span>
    <button>Sort</button>
</section>
<section class="edit">
    <label for="">Bug Name :</label>
    <input type="text" (input)="newBugName = $any($event.target).value" >
    <span> [ {{newBugName.length}} ] </span>
    <button (click)="addBug(newBugName)">Add New</button>
</section>
<section class="list">
    <ol>
        <li *ngFor="let bug of (bugs | sort:sortAttr:descending) ">
            <small>[ {{bug.id}} ]</small>
            <span 
                class="bugname"
                (click)="toggle(bug)"
                [ngClass]="{closed : bug.isClosed}"
                [title]="bug.name"
            >{{bug.name | trimText:40}}</span>
            <div class="datetime" [title]="bug.createdAt">{{bug.createdAt | elapsed}}</div>
            <button (click)="removeBug(bug)">Remove</button>
        </li>
    </ol>
    <button (click)="removeClosed()">Remove Closed</button>
</section>