<!-- BugStats -->
<app-bug-stats [data]="bugs"></app-bug-stats>

<!-- BugSort -->
<app-bug-sort (sortAttrChange)="sortAttr=$event" (sortOrderChange)="descending=$event"></app-bug-sort>

<!-- BugEdit -->
<app-bug-edit (bugAdded)="onNewBugAdded($event)"></app-bug-edit>

<!-- BugList -->
<section class="list">
    <ol>
        <li *ngFor="let bug of (bugs | sort:sortAttr:descending) ">
            <small>[ {{bug.id}} ]</small>
            <span 
                class="bugname"
                (click)="toggle(bug)"
                [ngClass]="{closed : bug.isClosed}"
                [title]="bug.name"
            >{{bug.name | trimText:40}}</span>
            <div class="datetime" [title]="bug.createdAt">{{bug.createdAt | elapsed}}</div>
            <button (click)="removeBug(bug)">Remove</button>
        </li>
    </ol>
    <button (click)="removeClosed()">Remove Closed</button>
</section>